@*@model EShopCinema.Web.Models.Domain.TicketCinema*@
@model EShopCinema.Domain.Domain.TicketCinema

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>TicketCinema</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="MovieFullName" class="control-label"></label>
                <input asp-for="MovieFullName" class="form-control" />
                <span asp-validation-for="MovieFullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovieWatchType" class="control-label"></label>
                <input asp-for="MovieWatchType" class="form-control" />
                <span asp-validation-for="MovieWatchType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovieHall" class="control-label"></label>
                <input asp-for="MovieHall" class="form-control" />
                <span asp-validation-for="MovieHall" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RowNum" class="control-label"></label>
                <input asp-for="RowNum" class="form-control" />
                <span asp-validation-for="RowNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeatNum" class="control-label"></label>
                <input asp-for="SeatNum" class="form-control" />
                <span asp-validation-for="SeatNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TicketMoviePrice" class="control-label"></label>
                <input asp-for="TicketMoviePrice" class="form-control" />
                <span asp-validation-for="TicketMoviePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovieStartTime" class="control-label"></label>
                <input asp-for="MovieStartTime" class="form-control" />
                <span asp-validation-for="MovieStartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovieENDTime" class="control-label"></label>
                <input asp-for="MovieENDTime" class="form-control" />
                <span asp-validation-for="MovieENDTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TicketUntilDate" class="control-label"></label>
                <input asp-for="TicketUntilDate" class="form-control" />
                <span asp-validation-for="TicketUntilDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
